==
<nav class="nav-wrp nav-4 dark">
	<div class="container">
		
		<div class="nav-header">
			<a class="navbar-brand" href="/"><img src="storage/app/media/logotip.jpg" alt="Brand logo" class=""></a>
			<a class="nav-handle fs-touch-element" data-nav=".nav"><i class="fa fa-bars"></i></a>	
		</div>
		
		<div class="nav vm-item">
			<ul class="nav-links">
				<li class=""><a href="/o-nas" class="">О нас</a></li>
				<li class=""><a href="#s2" class="">Услуги компании</a></li>
				<li class=""><a href="#s3" class="">Карьера</a></li>
				<li class=""><a href="#" class="">Контакты</a></li>
			</ul>
			<div class="nav-other">
				<span class=""><i class="fa fa-phone"></i> 0123 456 789</span>
				<span class=""><a href="mailto:test@test.com" class=""><i class="fa fa-envelope-o"></i> Email us</a></span>
			</div>
		</div><!-- /.nav --> 
		
	</div><!-- /.container --> 
</nav><!-- /.nav-wrp -->